.grid{
    display: grid;
    grid-template-columns: auto auto auto ;
}
.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    font-size: 20px;
    font-weight: bold;
    background-color: #060b26;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    height: 5vh;
    margin: 2vw;
    width: 5vw;
    transition: 350ms;
}
.btn:hover {
    background-color:white ;
    color: #060b26;
    border: 2px solid #060b26;
    transition: 350ms;
}
.reset {
    font-size: 20px;
    font-weight: bold;
    background-color: #060b26;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    height: 5vh;
    margin: 2vw;
    width: 8vw;
    transition: 350ms;
}
.reset:hover {
    background-color:white ;
    color: #060b26;
    border: 2px solid #060b26;
    transition: 350ms;
}

@media screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
    .btn {
        font-size: 2.5vw;
    }
    .reset{
        font-size: 2.5vw;
    }
}